*{
    margin: 15px 20px 15px 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
}
header{
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 2.2vw;
    color: rgb(55, 0, 255);
}
h3{
    font-size: 1.8vw;
}
#prompt{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 2.2vw;
    margin-top: 2vw;
    margin-left: 20vw;
    margin-right: 20vw;
}
ul{
    list-style: none;
    margin-top: 1vw;
}
li{
    padding: 2vw;
    background-color:aqua;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    margin-right: 60px;
    margin-left: 60px;
}
li:hover{
    background-color:rgb(0, 255, 85);
    cursor: pointer;
}
footer{
    color: gray;
    display: flex;
    justify-content: center;
    margin: 2vw 28vw 0vw 28vw;
    border-top: 2px solid gray;
}
h4{
    font-size: 1.3vw;
}